[submodule "test"]
	path = test
	url = git@github.com:Training-Club/test.git
[submodule "app"]
	path = app
	url = git@github.com:Training-Club/app.git
[submodule "web"]
	path = web
	url = git@github.com:Training-Club/web.git
[submodule "server"]
	path = server
	url = git@github.com:Training-Club/server.git
